.hidden
  display none !important

.citytile
  position relative
  display inline-block
  margin 0 10px

  width 200px
  height 100px

  transition all 0.2s ease-in
  > a
    position absolute
    right 0
    opacity 0

  &:hover
    > a
      opacity 1

  h1
    text-align center
    vertical-align top
    font-size: 28px;
    line-height: 30px;

  &:last-child
    h1
      border-right 0

  font-size 16px
  a
    transition all 0.2s ease-in
    color #5C7094
    &:hover
      color #283959
      background-color #eee
      text-decoration none

.citytileGrid
  margin 20px 0px
  white-space nowrap

.searchBar
  margin 20px
  input
    font-size 20px !important
    height 40px !important

  input[type=search]
    padding 10px 20px
