.hidden
  display none !important

.citytile
  position relative
  display inline-block
  margin 0 20px

  width 300px
  height 100px

  > a
    position absolute
    right 0

  h1
    text-align center
    vertical-align top

  &:last-child
    h1
      border-right 0

  transition font-size 1s ease-in
  font-size 20px
  a
    transition all 0.2s ease-in
    color #5C7094
    &:hover
      color #283959
      background-color #eee
      text-decoration none

.citytileGrid
  margin 40px 0px 20px
  white-space nowrap

.searchBar
  margin 20px
  input
    font-size 26px !important
    height 60px !important

  input[type=search]
    padding 10px 20px
