.cities
  margin 100px 0px 20px

.citytile
  display inline-block
  margin 0 20px
  border-right 1px solid #ccc
  &:last-child
    border-right 0

  width 300px
  height 100px

  transition font-size 1s ease-in
  font-size 20px
  a
    transition all 0.2s ease-in
    color red
    &:hover
      text-decoration none

.citytileGrid
  white-space nowrap

.searchBar
  input
    padding 10px 20px
