elasticsearch:
  image: dimroc/dockerfile-elasticsearch
  restart: always
  ports:
    - 59200:9200
    - 59300:9300
  environment:
    - ELASTICSEARCH_USER=admin
    - ELASTICSEARCH_PASS=password
    - ES_HEAP_SIZE=2g
  #volumes:
    #- tmp/elasticsearch-data:/usr/share/elasticsearch/data
    #- /var/lib/docker/data:/usr/share/elasticsearch/data # Tutum maps EBS drives to /var/lib/docker

kibana:
  image: 'kibana:latest'
  environment:
    - 'ELASTICSEARCH_URL=http://admin:password@elasticsearch:9200'
  links:
    - elasticsearch
  ports:
    - '5601:5601'

cityservice:
  #image: 'dimroc/cityservice:latest'
  build: cityservice
  links:
    - elasticsearch
  ports:
    - 58080:58080
  environment:
    - GO_ENV=qa
    - PORT=8080
    - CITYSERVICE_LOGLEVEL=NOTICE
    - CITYSERVICE_SETTINGS=config/nyc.json
    - 'ELASTICSEARCH_URL=http://admin:password@elasticsearch:9200'
    - CITYSERVICE_VERBOSETWITTER=

    - 'INSTAGRAM_ACCESS_TOKEN=
    - INSTAGRAM_CLIENT_ID=
    - INSTAGRAM_CLIENT_SECRET=

    - TWITTER_CONSUMER_KEY=
    - TWITTER_CONSUMER_SECRET=
    - TWITTER_TOKEN=
    - TWITTER_TOKEN_SECRET=

  restart: always

tools:
  build: tools
  links:
    - elasticsearch
  environment:
    - GO_ENV=qa
    - ELASTICSEARCH_URL=http://elasticsearch:9200

cityweb:
  #image: 'dimroc/cityweb:latest'
  build: cityweb
  links:
    - elasticsearch
  environment:
    - GO_ENV=qa
    - ELASTICSEARCH_URL=http://elasticsearch:9200

