body {
  font-family: 'Open Sans', sans-serif;
}

.location-info {
  font-size: 10px;

  span {
    margin: 0 5px;
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 100;
}

.real-time {
  margin-top: 30px;
}
