.topbanner
  h1
    font-size px(40)
    text-align left
    display inline-block
  form
    display inline-block
    vertical-align bottom

    input[type=text]
      border 1px solid #ccc
      padding 10px 40px
