go run producers/twitter.go --consumer-key=<CONSUMER KEY> --consumer-secret=<CONSUMER SECRET> \
                            --token=<TOKEN> --token-secret=<TOKEN SECRET> \
                           | go run pusher/pusher.go --appid=<PUSHER APP ID> --key=<PUSHER KEY> --secret=<PUSHER SECRET>
