.geoevent
  text-align center
  white-space normal
  border 1px solid #ddd
  border-top 0

  h3
    margin-bottom 0

  label
    margin: 10px 0 20px !important

  img
    width 200px

.hood
  display block
  background lightblue
  text-transform uppercase
  font-size 12px

.text
  margin 20px
  font-size 12px
