.geoevent
  text-align center
  white-space normal
  border 1px solid #ddd
  border-top 0

  img
    width 200px

.hood
  display block
  background lightblue
  text-transform uppercase
  font-size 12px

.text
  margin 20px
  font-size 12px
